@page "/"

<h1>Using MediatR with Blazor (Client-side)</h1>

<p>
    This application usings the Mediator pattern to query for data and issue commands.
</p>
<p>
    It's based on the default Blazor (Client-side) template but using MediatR.
</p>
<p>
    <strong>Resources:</strong><br />
    Article: <a href="https://talkdotnet.wordpress.com" target="_blank">https://talkdotnet.wordpress.com</a><br />
    MediatR: <a href="https://github.com/jbogard/MediatR/wiki" target="_blank">https://github.com/jbogard/MediatR/wiki</a><br />
    Blazor: <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/client" target="_blank">https://dotnet.microsoft.com/apps/aspnet/web-apps/client</a>
</p>